extends ./template.pug
block headFiles
    title Glicko Calculator
    link(rel='stylesheet', type='text/css', href='css/style.css')
    script(src='js/glicko-calc.js', defer)
block mainContent
    label r
        sub A
        input#ratingA(type='number')
    label RD
        sub A
        input#deviationA(type='number')
    label r
        sub B
        input#ratingB(type='number')
    label RD
        sub B
        input#deviationB(type='number')
    br
    label E
        sub A
        input#chanceA(type='number')
    label E
        sub B
        input#chanceB(type='number')
    br
    input#calc(type='button', value='Calculate')
